<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Available Books</title>
<style type="text/css">
table,th,td{
 	border: 1px solid black;
}
</style>
</head>
<body>
<center>
<h1>Total Available Books</h1>
</center>
	<table style="width: 100%">
	<tr>
	<th>Id</th>
	<th>Name</th>
	<th>Price</th>
	<th>Author</th>
	<th>Action</th>
	</tr>
	<tr th:each="b:${book}">
	<td th:text="${b.id}"></td>
	<td th:text="${b.name}"></td>
	<td th:text="${b.author}"></td>
	<td th:text="${b.price}"></td>
	<td><a th:href="@{'/myBooks/'+${b.id}}">Add to my books</a>
	<a th:href="@{'/deleteAvailableBook/'+${b.id}}">Delete</a>
	<a th:href="@{'/editAvailableBook/'+${b.id}}">Edit</a>
	</td>
	</tr>
	</table>
</body>
</html>